<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>PQT.com.br</title>
</head>
<body style="background-color: #eeeeee; font-family: sans-serif; text-align: center;">
    <p>&nbsp; <br /><br /><br /></p>
    <div style="background-color: #ffffff;">
        <h1>Olá! Seja bem vindo {{NOME_USUARIO}}!</h1><br /><br />
        <p>
            Esse email tem o objetivo de confirmar seu cadastro em nosso site, {{SISTEMA_NOME}}.
            <br />
            Para ativar sua conta e definir uma senha, acesse: {{URL_ATIVACAO}}

        </p>
        <br />
        <p>
            Observação: caso não tenha solicitado registro e não conhece o nosso site, favor desconsiderar a mensagem. Pode ter sido alguém que digitou seu e-mail por engano e sem a confirmação não poderá acessar.
        </p>
        <br />
        <hr />
        Página de Referência: {{PAGINA_REFERENCIA}} <br />
        Data de envio: {{DATAHORA_EXTENSO}}
        <hr />
    </div>
    <h3>&copy; PQT.com.br</h3>
    <p>&nbsp; <br /><br /><br /></p>
</body>
</html>