<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>PQT.com.br</title>
</head>
<body style="background-color: #eeeeee; font-family: sans-serif; text-align: center;">
    <p>&nbsp; <br /><br /><br /></p>
    <div style="background-color: #ffffff;">
        <h1>Olá {{NOME_USUARIO}}!</h1><br /><br />
        <p>
            Informamos que o seu e-mail cadastrado em nosso site, {{SISTEMA_NOME}}, foi alterado de {{EMAIL_ANTIGO}} para {{EMAIL_NOVO}}.
            <br />
            Se essa alteração está correta, não precisa fazer nada. Mas caso desconheça essa ação e gostaria de retornar para o e-mail anterior e alterar a senha, acesse: {{URL_RESETA_EMAIL}}

        </p>
        <br />
        <hr />
        Página de Referência: {{PAGINA_REFERENCIA}} <br />
        Data de envio: {{DATAHORA_EXTENSO}}
        <hr />
    </div>
    <h3>&copy; PQT.com.br</h3>
    <p>&nbsp; <br /><br /><br /></p>
</body>
</html>