@model Essenciais.MVC.Models.Usuario
@{
    ViewBag.Title = "Novo Usuário";
}
<div class="row">
    <h1>@ViewBag.Title</h1>

    @Html.Partial("_UsuarioForm", Model)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
